fastapi==0.109.1
uvicorn==0.25.0
tortoise-orm[asyncpg]==0.20.0
pydantic==2.5.3
anyio==4.2.0
PyJWT==2.8.0
python-decouple==3.8
pytz==2023.3.post1
tzlocal==5.2
aerich==0.7.2
websockets==12.0
aiogram==3.5.0
shapely==2.0.4

#pytest==8.0.0
#pytest-asyncio==0.23.5
#httpx==1.0.0b0
#asgi-lifespan==2.1.0
